<div class="mainPage">
  <div class="mainContainer">
    <div class="inputForm">

	<ul>
		<li><%= @club.name %></li>
		<li><%= @club.initials %></li>
		<li><%= @club.country %></li>
		<li><%= new_club_link_url(@club.link_token) %></li>
		
	</ul>

	</div>
  </div>
</div>