<div class="reset">
  <div class="userContainer">
    <div class="inputForm">

	<h1>Reset Password</h1>

	<%= form_tag password_resets_path, :method => :post do %>
  	<ul>
    	<li><%= label_tag :email %></li>
    	<li><%= email_field :email, params[:email], :placeholder => "Email", :class => @status %></li>
  	</ul>
  	<div class="actions">
  		<%= submit_tag "Reset Password", class: "form-btn" %>	
  	</div>
	<% end %>
	</div>
  </div>
</div>
