<div class="mainPage">
	<div class="termsContainer">
		<h1>Features</h1>

		<h3>Cloud</h3>
		<p>All the data entered into the site is stored online. It can be viewed through easy to use tables anywhere in the world with just the click of a button. No more searching through filing cabinets for launch logs.</p>
		
		<h3>Offline service</h3>
		<p>Flight records can be stored offline in your browser and then uploaded when an internet connection is available. Most of the site's features are available offline but the to get best possible experience an internet connection is required.</p> 
		<p>Offline service aimed at clubs with no internet connection who want to try the product before they spend the money to get a connection.</p>
		<p>The most straightforward method of getting an internet connection is to use a mobile data plan. If your clubhouse has an internet connection and you feel a little more adventurous, you can use a directional Wi-Fi antennas to send data to your launch point. Directional Wi-Fi can work over a couple of kilometres and is cheaper in the long run.  But it is far more difficult and expensive to set up than a mobile data plan.</p>  
		
		<h3>Analysis</h3>
		<p>The website shows useful metrics for each member. This includes how much they owe the club, their flight times and much more. Each member can access a personalised page of the site that shows them all their flights and metrics.</p>
		<p>Each aircraft also has its own page which displays its flights and metrics. This makes it easy to see when and by who the aircraft is flown.</p>
		
		<h3>Interconnected system</h3> 
		<p>Online availability of the system allows pilots to add their own flights. This makes sure the correct John is entered into the log. Then logger only needs to enter the launch and land times of the aircraft. This reduces the workload when the airfield is very busy and is especially useful when there are a large amount of visiting pilots who you don't necessarily know all their names.</p>

		<h3>Accountability</h3>
		<p>Each flight record contains the creator's name. This increases accountability for the log taking and takes away the  "someone" from the equation. An element common to many clubs.</p>

		<h3>Auto Fill</h3>
		<p>Member and aircraft information is displayed in dropdown menus which reduces the need for typing and makes it far easier to enter flight data. It also makes it easier for newer members to enter the correct John in to the log.</p>
		<p>The price of launches and soaring fees are stored in the system to further reduce typing and remove the human error component from the system. If necessary these auto fill values can be overwritten for individual flights. The auto fill for soaring fees can be dependent on pilot's membership or on the aircraft being flown.</p>

		<h3>Validation</h3>
		<p>All the data entered into the log is validated which reduces the chance of bogus information being in the data.</p> 

		<h3>Google sheets</h3>
		<p>All the data entered into the log is converted into a Google Sheets for the club to store. This means you are not tied to the service and can leave at anytime, taking all of your data with you.</p>

		<h3>Financial Transactions</h3>
		<p>Online payment is available using stripe. This allows a club to become cashless and stop dealing with large amounts of cash and checks. It also means that visitors don't have to go to a cash machine if they don't have enough cash. Sometimes don't always come back.</p>
		<p>The payment system automatically adds up what each member pays in and then deducts it from what they owe hugely reducing the effort to balance a clubs books.</p>


	</div>
</div>