<div class="pageHeader">
<h3>One week to release:(timer)</h3>
<h3>(Release Date)</h3>
<h1>Welcome Page</h1>

<div class="contentContainer">
	<h3>(banner)</h3>
</div>

</div>

<div class="main">
<div class="contentContainer">
	<div class="content">
	<h3>"The Problem"</h3>
	<ul>
		<li>Large amounts of paperwork</li>
		<li>Dodgy handwriting</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3>(The Logger)</h3>
	<ul>
		<li>(Demo version)</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3>Why you need the logger</h3>
	<ul>
		<li>Reduce errors</li>
		<li>Easier to see the information</li>
		<li>Reduce administrator time</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3>Features</h3>
	<ul>
		<li>(How this is done)</li>
		<li>Easily understandable input system with validation</li>
		<li>Uses the latest and greatest online features to allow an offline experience</li>
		<li>Available offline - data can be quickly uploaded to the cloud for processing</li>
		<li>Online tables that display every flight, aircraft, club member</li>
		<li>Data converted into Google Sheets for easy record keeping</li>
		<li>Easy to see the use of individual aircraft</li>
		<li>Users can easily see their flights</li>
		<li>Launch website ssl protected</li>
	</ul>
		<h4>Near Future(month)</h4>
	<ul>
		<li>Online Payment</li>
	</ul>
	<h4>Long Term(3 months)</h4>
	<ul>
		<li>Lots of cool features to come which will reshape the gliding world</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3>Price</h3>
	<ul>
		<li>£5 a month</li>
		<li>7p a launch</li>
		<li>Unlimited members</li>
		<li>Based on an individual billing system so you only pay for what you use</li>
		<li>Launch bill paid after the fact</li>
		<li>Paid bi-monthly</li>
	</ul>
	<h4>Offer</h4> <!-- financial details taken at the beginning of the trial--><!--Pre release max one club per user-->
	<ul>
		<li>One week free trial</li>
		<li>No launch fees for a further 2 weeks</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3>About</h3>
	<ul>
		<li>(The company)</li>
		<li>Small student startup</li>
		<li>Ready to make big waves in the gliding world</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3><button id='signup' class="a_demo_two">Sign Up</button></h3>
</div>
</div>
</div>
