<div id="wrapper">
	<div id="banner">
		<div class="containerPage">
			<div class="title">
				<h2>Launch recording software</h2>
				<span class="byline">One week to launch</span> </div>
			<ul class="actions">
				<li><a href="#" class="button">Demo Logger</a></li>
			</ul>
		</div>
	</div>
	<div id="extra" class="containerPage">
		<div class="title">
			<h2>Features</h2>
			<span class="byline"></span> </div>

		<div id="three-column">
			<a href="/features#cloud" >
			<div class="boxA">
				<div class="box"> <span class="fa fa-cloud-download"></span>
					<p>Cloud</p>
				</div>
			</div>
			</a>

			<a href="/features#offlineService" >
			<div class="boxB">
				<div class="box"> <span class="fa fa-cogs"></span>
					<p>Offline Service</p>
				</div>
			</div>
			</a>

			<a href="/features#analysis" >
			<div class="boxC">
				<div class="box"> <span class="fa fa-search"></span>
					<p>Analysis</p>
				</div>
			</div>
			</a>
		</div>
		
		<div id="three-column">
			<a href="/features#interconnectedSystem" >
			<div class="boxA">
				<div class="box"> <span class="fa fa-user"></span>
					<p>Interconnected System</p>
				</div>
			</div>
			</a>

			<a href="/features#accountability" >
			<div class="boxB">
				<div class="box"> <span class="fa fa-eye"></span>
					<p>Accountability</p>
				</div>
			</div>
			</a>

			<a href="/features#autoFill" >
			<div class="boxC">
				<div class="box"> <span class="fa fa-pencil"></span>
					<p>Auto Fill</p>
				</div>
			</div>
			</a>
		</div>
		
		<div id="three-column">
			<a href="/features#validation" >
			<div class="boxA">
				<div class="box"> <span class="fa fa-check"></span>
					<p>Validation</p>
				</div>
			</div>
			</a>

			<a href="/features#googleSheets" >
			<div class="boxB">
				<div class="box"> <span class="fa fa-folder"></span>
					<p>Google Sheets</p>
				</div>
			</div>
			</a>

			<a href="/features#financialTransactions" >
			<div class="boxC">
				<div class="box"> <span class="fa fa-money"></span>
					<p>Financial Transactions</p>
				</div>
			</div>
			</a>
		</div>

		<ul class="actions">
			<li><a href="/features" class="button">Find out more</a></li>
		</ul>
	</div>

	<div id="featured">
		<div class="containerPage">
			<div class="title">
				<h2>About</h2>
				<span class="byline"></span> </div>
				<p>
					We are a small student start up with the aim to bring modern software technology to the aviation industry. This is our first product and like all start ups it is the most important one. To achieve this goal without any backing, we need and greatly appreciate the support of the gliding community. Hopefully this will be the first product of many to come.
				</p>	
			</div>
		</div>
		
	</div>

	<div id="page" class="containerPage">
		<div class="title">

			<h2>Price</h2>
			<span class="byline"></span> </div>
				
			<ul id="prices">
				<li>£1.25 a week plus 7p a launch</li>
				<li>Unlimited members</li>
				<li>Based on an individual billing system so you only pay for what you use</li>
				<li>Launch bill paid after the fact</li>
				<li>Paid weekly</li>
			</ul>
			
			<ul>
				<li>One week free trial</li>
				<li>No launch fees for a further 2 weeks</li>
			</ul>

			<ul class="actions">
				<li><a href="#" class="button">Find out more</a></li>
			</ul>
	</div>
</div>




