<div>
  
  <h1>Demo Logger</h1>

  <div id="logger">
  <%= react_component("FlightLogger",{key:'m1',mode:'demo'}) %>

  </div>
   <%= javascript_tag do %>
   	//window.club = {name:'Demo Club'};

   <% end %>
</div>

